@charset "utf-8";

html {
	background-color: rgba(217,194,146, 1.0);  
}

form {
    font-family: 'Arial', sans-serif;
    font-size: large;
    padding: 20px;
    border: 1px solid #000000;
    width: 300px;
    max-width: 400px; 
    margin: 0 auto; 
    border-radius: 10px 20px;
    background-color: #f0f4f8; 
}

h1 {
    color: dodgerblue;
    text-align: center;
}

h2 {
    text-align: right;
    font-style: italic;
}

input, label {
    background-color: coral;
}