<header>
		<h1>
            <img class="header_logo" src="images/headerlogo_grey.png" alt="book icon">
            Teresa Huggins's Theoretical Hummingbird &#9733; WEB115
        </h1>
		<!-- Navigation list with links -->
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="introduction.html">Introduction</a></li>
				<li><a href="contract.html">Contract</a></li>
                <li><a href="brandguide.html">Brand</a></li>
                <li><a href="codeplay.html">Codeplay</a></li>
                <li><a href="fizzbuzz0.html">Fizz Buzz 0</a></li>
			</ul>
		</nav>
</header>