@charset "utf-8";

/*---------------------------------------------------------------------Brand Format Begin------------------------------------------------------------------------*/

nav ul {
  font-family: "Vast Shadow",Verdana, Helvetica;
  font-size: medium;
}

 h2, 
 h3 {
    display: flex;
    align-items: center;  
    justify-content: center;  
    font-family: "Lavishly Yours", Verdana;
    gap: 4px;
}

.brand img{
    margin-left: 30px;
    margin-right: -8px;
}

main .brand section article p {
    font-weight: 500;
    margin-bottom: 50px ;
}

.brand{
    padding: 20px;
}

.brand-footer{
  font-family: "Vast Shadow",Verdana, Helvetica;
}
/*---------------------------------------------------------------------Brand Format End------------------------------------------------------------------------*/

header img{
	width: 100%;	
  height: 200px;
	display: block;	
  object-fit: scale-down;
  object-position: center;
}

dt {
    font-weight: bold;
    text-align: center;
}
dl {
	display: grid;
	grid-template-columns: max-content 1fr;
  gap: 100px 16px;              /* Row gap and column gap */
	margin-left: 2%;
}

dd:nth-of-type(odd){
	 /* Clears default browser indent margin */
       margin: 0; 
     /* Forces the description to always start in the second column */
       grid-column-start: 2; 
}

.brand-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);         
  gap: 30px 50px;  
}

.brand-grid2 {
  display: grid;
  grid-template-columns: 1fr; /* Forces all items into one vertical column */
  gap: 16px;                  /* Optional: Adds space between the stacked images */
}

.brand-grid2 img {
  width: 100%; /* Ensures image fits the container */
  height: 200px;
  /*align-items: center;*/
  object-fit: cover;
}

.brand-grid img {
  max-height: 500px;
  max-width: 500px;
  object-fit: contain;
}

