@charset "utf-8";

/*---------------------------------------------------------------------Brand Format Begin------------------------------------------------------------------------*/
#brand_body {
	background-color: #FFbeb2;  
  font-family: "Jim Nightshade", cursive;
  font-size: 20px;
  color: #800020;
}

#brand-header{
  font-family: "Vast Shadow", serif;
}

.brand h2{
    display: flex;
    align-items: center;  
    justify-content: center;  
    gap: 4px;
}

.brand h2 img{
    margin-left: 30px;
    margin-right: -8px;
}

main .brand div article p {
    font-weight: 500;
    margin-bottom: 50px ;
}

.brand{
    padding: 20px;
}

/*---------------------------------------------------------------------Brand Format End------------------------------------------------------------------------*/




header img{
	width: 100%;	
    height: 200px;
	display: block;	
    object-fit: scale-down;
    object-position: center;
}

dt {
    font-weight: bold;
    text-align: center;
}
dl {
	display: grid;
	grid-template-columns: max-content 1fr;
  gap: 100px 16px;              /* Row gap and column gap */
	margin-left: 2%;
}

dd:nth-of-type(odd){
	 /* Clears default browser indent margin */
       margin: 0; 
     /* Forces the description to always start in the second column */
       grid-column-start: 2; 
}

.my-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);         
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}

.mygrid img{
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.my-grid2 {
  display: grid;
  grid-template-columns: 1fr; /* Forces all items into one vertical column */
  gap: 16px;                  /* Optional: Adds space between the stacked images */
}

.my-grid2 img {
  width: 100%; /* Ensures image fits the container */
  height: 200px;
  /*align-items: center;*/
  object-fit: cover;
}



