@charset "utf-8";

h1 {
	text-align: center;
    color: #F54927;
}

h2 {
    text-align: center;
}

nav ul li {
	display: table-cell;
	width: 30%;
	text-align: center;
	margin-right: 2%;
	border: none;
	border-collapse: collapse;
    border-right: 1px solid #4169E1; 
    padding: 0 15px;
}

nav ul li:last-child {
  border-right: none; }

.home-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left; 
  font-weight: bold;
}

footer {
	text-align: center;
	margin-top: 4%;	
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	clear: both;
	padding-bottom: 20px;	  
    margin-top: auto; /* push footer to bottom of page */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Takes full viewport height */
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
dd {
	text-align: center;
    font-weight: bold;
    color: navy;
}

article h2{
    color: black;
}

.intro-content p{
    text-align: left;
}

blockquote{
    font-style: italic;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -15px;
}

ul ul {
    list-style-type: circle;
}

body {
    background-color: #EAD2A8; 
}